<%= form_with(model: friend) do |form|%>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col gap-3 justify-center bg-blue-400 rounded-xl shadow-lg shadow-pink-600">
    <div class="flex flex-row justify-around p-3">
      <%= form.label :first_name, class: "text-xl font-bold" %>
      <%= form.text_field :first_name, class: "border border-black hover:border-2 p-2 hover:border-pink-300 rounded-xl", placeholder: "First Name" %>
    </div>

    <div class="flex flex-row justify-around">
      <%= form.label :last_name, class: "text-xl font-bold" %>
      <%= form.text_field :last_name, class: "border border-black hover:border-2 hover:border-pink-300 p-2 rounded-xl", placeholder: "Last Name"  %>
    </div>

    <div class="flex flex-row justify-around">
      <%= form.label :email, class: "text-xl font-bold" %>
      <%= form.text_field :email, class: "border border-black hover:border-2 hover:border-pink-300 p-2 rounded-xl", placeholder: "Email"  %>
    </div>

    <div class="flex flex-row justify-around">
      <%= form.label :phone, class: "text-xl font-bold" %>
      <%= form.text_field :phone, class: "border border-black hover:border-2 hover:border-pink-300 p-2 rounded-xl", placeholder: "Phone"  %>
    </div>

    <div class="flex flex-row justify-around">
      <%= form.label :twitter, class: "text-xl font-bold" %>
      <%= form.text_field :twitter, class: "border border-black hover:border-2 hover:border-pink-300 p-2 rounded-xl", placeholder: "Twitter"  %>
    </div>

    <div class="m-4 flex flex-row justify-center  cursor-pointer text-2xl px-2 py-4 rounded-xl bg-pink-400 text-white">
      <%= form.submit %>
    </div>
  </div>
<% end %>
